@media screen and (max-width:431px){
    header{
        height: auto;
        display: block;
    }
    .title{
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: block;
    }
    #fix{
        top: 89%;
    }
    .header-options{
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
    }
    .header-options ul{
        gap: 18px;
        margin-left: 0%;
    }
    section{
        height: 350px;
    }
    .statupline{
        font-size: 35px;
        font-weight: 700;
        padding: 30px 0px 0px 20px ;
    }
    section p{
        margin:30px 0px 0px 20px;
        font-size: 20px;
        font-weight: 500;
        width: 80%;
    }
    section button{
        margin:30px 0px 0px 20px;
        height: 12%;
        width: 25%;
        font-size: 15px;
        font-weight: 600;
    }
    .section2{
        width: 100%;
        height: 300px;
        display: flex;
        
    }
    .s2p1{
        width: 50%;
    }
    .s2p1 h1{
        margin: 20px 0px 0px 20px;
        font-size: 20px;
    }
    .s2p1 p{
        margin: 6px 0px 0px 20px;
        font-size: 12px;
    }
    .s2p1 button{
        margin: 10px 0px 0px 20px;

    }
    .s2p2 img{
        height: 250px;
        width: 100%;
        margin-top: 30px;
    }
    .section3{
        height: auto;
    }
    .section3 h1{
        font-size: 25px;
        font-weight: 500;
        height: 50px;
        width: 70%;
        padding:10px 0% 0% 20px;
    }
    .grid-container{
        display: grid;
        grid-template-columns:auto;
        width: 90%;
        margin: 20px 20px 0px 20px;
    }
    .grid-container div button{
        width: 90%;
        margin-top: 48%;
    }
    .fiximg{
        height:100%;
        width: 50%;
        object-fit: cover;
        overflow: hidden;
    }
    .section4{
        width: 100%;
        height: 250px;
    }
    .s4p1 img{
        height: 50%;
        width: 80%;
        margin: 30% 20% 0% 20px;

    }
    .section5{
        height: 200px;
        width: 100%;
    }
}
@media screen and (max-width:430px){
    .header-options ul{
        gap: 13px;
    }

}
@media screen and (max-width:411px){
    .header-options ul{
        gap: 8px;
    }

}
@media (min-width:768px) and (max-width:1000px){
        header{
            height: auto;
            display: block;
        }
        .title{
            width: 100%;
            height: 100%;
            text-align: center;
            align-items: center;
            display: block;
        }
        #fix{
            top: 90%;
        }
        .header-options{
            width: 100%;
            height: 100%;
            text-align: center;
            display: block;
        }
        .header-options ul{
            margin-left: 2%;
        }
        section{
            height: 400px;
        }
        .statupline{
            font-size: 39px;
            font-weight: 700;
            padding: 30px 0px 0px 40px ;
        }
        section p{
            margin:50px 0px 0px 40px;
            font-size: 30px;
            font-weight: 500;
            width: 60%;
        }
        section button{
            margin:50px 0px 0px 40px;
            height: 12%;
            width: 25%;
            font-size: 15px;
            font-weight: 600;
        }
        .section2{
            width: 100%;
            height: 350px;
        }
        .s2p1{
            width: 50%;
        }
        .s2p1 h1{
            margin: 40px 0px 0px 40px;
            font-size: 30px;
        }
        .s2p1 p{
            margin: 6px 0px 0px 40px;
            font-size: 15px;
        }
        .s2p1 button{
            margin: 10px 0px 0px 40px;
    
        }
        .s2p2 img{
            height: 250px;
            width: 100%;
            margin-top: 30px;
        }
        .section3{
            height: auto;
        }
        .section3 h1{
            font-size: 35px;
            font-weight: 500;
            height: 50px;
            width: 70%;
            padding:10px 0% 0% 40px;
        }
        .grid-container{
            display: grid;
            grid-template-columns:auto;
            width: 90%;
            margin: 20px 20px 0px 40px;
        }
        .grid-container div button{
            width: 90%;
            margin-top: 48%;
        }
        .fiximg{
            height:100%;
            width: 50%;
            object-fit: cover;
            overflow: hidden;
        }
        .section4{
            width: 100%;
            height: 300px;
        }
        .s4p1 img{
            height: 70%;
            width: 80%;
            margin: 13% 20% 0% 40px;
    
        }
        .section5{
            height: 200px;
            width: 100%;
        }
}